.contenedor{
    background-color: black;
    display: grid;
    width: 1440px;
    margin: auto;

}

.contenedor2{
    background-color: rgb(0, 0, 0);
    display: grid;
    width: 1440px;
    grid-template-columns: auto auto auto;
   

}

#sec1{
    height: 250px;
    color: white;
    align-content: center;
    font-family: cursive;
}


.contenedor3{
    background-color: black;
    display: grid;
    width: 1440px;
    grid-template-columns: auto auto auto auto auto auto;
}

#sec4, #sec6, #sec8 {
    height: 300px;

}

#sec5, #sec7 {
    height: 350px;

}


@media(max-width:1024px ){
    .contenedor2{
        grid-template-columns: auto auto auto;
        background-color: blue;
    }

    #sec1{
        height: 250px;
        color: rgb(0, 255, 13);
        align-content: center;
        font-family: cursive;
    }
    #sec3{
        grid-column: 3 / span 2;
    }
    .contenedor3{
        grid-template-columns: auto auto auto;
        background-color: blue;

    }

    } 


    @media(max-width:500px ){
        .contenedor2{
            grid-template-columns: auto auto ;
            background-color: rgb(3, 254, 62);
            
        }
        #sec1{
            height: 250px;
            color: rgb(0, 64, 255);
            align-content: center;
            font-family: cursive;
        }
        
        #sec3{
            grid-column: 2 / span 2 / span 1;
        }
        .contenedor3{
            grid-template-columns: auto auto ;
            background-color: rgb(3, 254, 62);
           
    
        }
        }